<div id="adCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div 
      *ngFor="let image of carouselImages; let i = index" 
      class="carousel-item" 
      [class.active]="i === 0"
    >
      <div class="card mx-auto" style="width: 90%; height: 150px;">
        <img [src]="image.imageUrl" class="card-img-top h-full w-full object-cover" [alt]="image.title">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ image.title }}</h5>
        <p>{{ image.description }}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#adCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#adCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Sección de productos superpuesta sobre el carrusel -->
<div class="product-section ">
  <div class="main-container main-content pt-16">
    <!-- Resultados de búsqueda -->
    <div *ngIf="searchActive && products.length">
      <div class="row">
        <div *ngFor="let product of products" class="col-6 col-md-4 mb-4">
          <div class="card product-card h-100">
            <img [src]="product.image ? ('https://codeconnectivity.com/api/api/uploads/' + product.image) : 'assets/logo2.png'"
                 alt="{{ product.name }}" class="product-image">
            <!-- Cuerpo de la tarjeta -->
          <div class="card-body">
            <!-- Nombre del producto con recorte si es muy largo -->
            <p class="card-title truncate">{{ product.name }}</p>
  
            <!-- Precio del producto -->
            <p class="card-text">{{ product.price | currency }}</p>
              <div *ngIf="product.options?.length">
                <div *ngFor="let option of product.options" class="option-button-container">
                </div>
              </div>
              <button 
                    class="btn btn-primary w-100" 
                   (click)="openProductOptions(product)">
                    Agregar
                  </button>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mostrar si no hay resultados de búsqueda -->
    <div *ngIf="searchActive && !products.length">
      <p>No se encontraron productos que coincidan con tu búsqueda.</p>
    </div>

   <!-- Visualización de categorías específicas -->
   <div *ngIf="viewingCategory && !searchActive">
    <div class="row">
      <div class="col-6 col-md-4 mb-4" *ngFor="let product of products">
        <div class="card product-card h-100">
          <!-- Imagen del producto -->
          <img 
            [src]="product.image ? ('https://codeconnectivity.com/api/api/uploads/' + product.image) : 'assets/logo2.png'" 
            alt="{{ product.name }}" 
            class="product-image"
          />
  
          <!-- Cuerpo de la tarjeta -->
          <div class="card-body">
            <!-- Nombre del producto con recorte si es muy largo -->
            <p class="card-title truncate">{{ product.name }}</p>
  
            <!-- Precio del producto -->
            <p class="card-text">{{ product.price | currency }}</p>
  
            <!-- Botón Agregar Producto -->
            <button 
              class="btn btn-primary w-100 mt-auto" 
              (click)="openProductOptions(product)">
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  



    <!-- Secciones habituales cuando no se está buscando ni en una categoría específica -->
    <div *ngIf="!searchActive && !viewingCategory">
      <div *ngFor="let section of sections; let i = index" class="section">
        <h3 class="section-title">{{ section.title }}</h3>
        <div class="carousel-container">
          <div class="product-container" #carousel>
            <div class=" main-content pt-16" *ngFor="let product of section.products">
              <div class="card product-card h-100">
                <!-- Imagen del producto -->
                <img 
                  [src]="product.image ? ('https://codeconnectivity.com/api/api/uploads/' + product.image) : 'assets/logo2.png'" 
                  alt="{{ product.name }}" 
                  class="product-image"
                />
    
                <!-- Cuerpo de la tarjeta -->
                <div class="card-body">
                  <!-- Nombre del producto con recorte si es muy largo -->
                  <p class="card-title truncate">{{ product.name }}</p>
    
                  <!-- Precio del producto -->
                  <p class="card-text">{{ product.price | currency }}</p>
    
                  <!-- Botón Agregar -->
                  <button 
                    class="btn btn-primary w-100 mt-auto" 
                    (click)="openProductOptions(product)">
                    Agregar
                  </button>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
                        <!-- Paginación -->
            <div class="pagination-controls">
              <button class="btn btn-secondary" 
                      (click)="previousPage(section.title)" 
                      [disabled]="paginationState[section.title]?.currentPage === 1">Anterior</button>
              <span>Página {{ paginationState[section.title]?.currentPage }} de {{ paginationState[section.title]?.totalPages }}</span>
              <button class="btn btn-secondary" 
                      (click)="nextPage(section.title)" 
                      [disabled]="paginationState[section.title]?.currentPage === paginationState[section.title]?.totalPages">Siguiente</button>
            </div>
          </div>
          </div>
      </div>
</div>

<!-- Modal -->
<div *ngIf="selectedProduct" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <div class="bg-white rounded-lg shadow-lg p-6 w-11/12 max-w-md relative">
    <!-- Botón cerrar -->
    <button 
      class="absolute top-2 right-2 text-gray-500 hover:text-gray-700"
      (click)="closeModal()"
    >
      &times;
    </button>

    <!-- Imagen y nombre -->
    <img 
      [src]="selectedProduct.image ? ('https://codeconnectivity.com/api/api/uploads/' + selectedProduct.image) : 'assets/logo2.png'" 
      alt="{{ selectedProduct.name }}" 
      class="mx-auto h-32 w-32 object-cover rounded-md"
    />
    <h2 class="text-lg font-semibold mt-4 text-center">{{ selectedProduct.name }}</h2>
    <p class="text-gray-600 text-center mb-4">{{ selectedProduct.price | currency }}</p>

    <!-- Opciones del Producto -->
<div *ngIf="selectedProduct.options?.length">
  <p class="text-sm font-semibold mb-2">Opciones:</p>
  <div *ngFor="let option of selectedProduct.options" class="mb-2">
    <button 
      [ngClass]="{ 
        'bg-blue-500 text-white': selectedOptions[+selectedProduct.id]?.description === option.description 
      }"
      class="btn btn-outline w-full"
      (click)="selectOption(selectedProduct, option)"
    >
      {{ option.description }} - {{ option.price | currency }}
    </button>
  </div>
</div>


    <!-- Botón agregar al carrito -->
    <button 
      class="bg-green-500 text-white py-2 px-4 w-full rounded-md hover:bg-green-600 transition duration-200 mt-4"
      (click)="addToCartWithOption(selectedProduct)"
    >
      Agregar al Carrito
    </button>
  </div>
</div>




<!-- Footer -->
<footer class="footer mt-auto py-3">
  <div class="container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="/product-list" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-muted">About</a></li>

    </ul>
    <p class="text-center text-muted">&copy; 2025 Connectivity Code</p>
  </div>
</footer>