/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    background-color: #f5f5f5; /* Gris claro */
    margin: 0;
    
    padding: 0px;
  }
  
  .main-container {
    max-width: 1200px;
    margin: 5% auto; /* Ajuste centrado */
    padding: 20px;
    background-color: #f5f5f5; /* Fondo blanco para los productos */


  }

/* Estilos para el toastr de éxito */
.toast-success {
  background-color: #33d849 !important; /* Color verde personalizado */
  color: white !important;
}

/* Opcional: Cambiar estilo de la barra de progreso */
.toast-success .toast-progress {
  background-color: white !important;
}


.toast-top-right {
  top: 20px !important;
  right: 20px !important;
}

.toast-top-full-width {
  top: 20px !important;
  left: 0 !important;
  right: 0 !important;
  width: 5% !important;
}
/* Ajustes específicos para pantallas grandes */
@media (min-width: 1024px) {
  body {
    margin-top: 0; /* Elimina el espacio superior en pantallas grandes */
  }
  
  .carousel-inner {
    height: 800px; /* Altura fija para pantallas grandes */
  }

  .carousel-item img {
    height: 800px; /* Asegura que la imagen llene el contenedor */
  }
}

/* Ajustes para pantallas móviles */
@media (max-width: 1024px) {
  body {
    margin-top: 8%; /* Espacio necesario para móviles */
  }

  .carousel-inner {
    height: 220px; /* Altura más pequeña para pantallas móviles */
  }

  .carousel-item img {
    height: 220px; /* Ajusta al contenedor móvil */
  }
}

/* Estilos para el toastr de error */
.toast-error {
  background-color: #f44336 !important; /* Color rojo personalizado */
  color: white !important;
}

/* Opcional: Cambiar estilo de la barra de progreso */
.toast-error .toast-progress {
  background-color: white !important;
}
